<script>
$(document).ready(function(){
	console.log("jQuery is working");
  $('input').iCheck({
     checkboxClass: 'icheckbox_square-blue',
 
    
  });
});
</script>

<%= form_tag("search_results", method: "post") do %>
	
	<label class="checkbox-inline">  <input type="checkbox" id="a" name="Hackathon" value="true"> &nbsp; &nbsp; Hackathon </label>
	<label class="checkbox-inline">  <input type="checkbox" id="a" name="Movies" value="true"> &nbsp; &nbsp; Movie  </label>
	<label class="checkbox-inline">  <input type="checkbox" id="a" name="Concert" value="true"> &nbsp; &nbsp; Concert </label>
	<label class="checkbox-inline">  <input type="checkbox" id="a" name="Theatre" value="true"> &nbsp; &nbsp; Theatre </label>
	<label class="checkbox-inline">  <input type="checkbox" id="a" name="Museum" value="true"> &nbsp; &nbsp; Museum </label>
	<label class="checkbox-inline">  <input type="checkbox" id="a" name="Art" value="true"> &nbsp; &nbsp; Art &nbsp; &nbsp;</label> 
	
	<input name="commit" type="submit" value="Search" />
<% end %>